.wrapper {
    max-width: 100%;
    overflow: hidden;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 15s linear infinite;
}

.marquee p {
    font-size: 150px;
    color:transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}
