.wrapper {
    max-width: 100%;
    overflow: hidden;
    z-index: -10;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 15s linear infinite;
    z-index: -10;
}

.marquee p {
    font-size: 150px;
    color: #171717;
    /* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red; */
    z-index: -10;
    text-shadow: 1px 1px 0 #ff0046, -1px -1px 0 #ff0046, 1px -1px 0 #ff0046,
    -1px 1px 0 #ff0046, 1px 1px 0 #ff0046;
}
.outlineShadow{
    color: #171717;
    text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white,
    -1px 1px 0 white, 1px 1px 0 white;

}
/* .carosel::-webkit-scrollbar {
    display: none;
  } */
.outlineShadow:hover{
    text-shadow: 1px 1px 0 #ff0046, -1px -1px 0 #ff0046, 1px -1px 0 #ff0046,
    -1px 1px 0 #ff0046, 1px 1px 0 #ff0046;
}
.outlineShadow2{
    text-shadow: 1px 1px 0 #ff0046, -1px -1px 0 #ff0046, 1px -1px 0 #ff0046,
    -1px 1px 0 #ff0046, 1px 1px 0 #ff0046;
}
@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

.dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #ff0046;
    display: inline-block;
    margin-right: 10px;
}